.about {
  background-color: $section-bg;

  @media screen and (max-width: 767px) {
    padding-top: 125px;
    padding-bottom: 36px;
    background-image: url(../images/about/sectionbg-mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom 100px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 130px;
    padding-bottom: 66px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 125px;
    padding-bottom: 39px;
    background-image: url(../images/about/sectionbg-decktop.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom -20px;
  }
}

.about__lable {
  font-family: $glory-font;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: $title-color;
  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
    margin-bottom: 16px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
    margin-bottom: 15px;
  }
}

.about__title {
  font-family: $glory-font;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;
  color: $focus-color;
  margin-bottom: 26px;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.15;
    margin-bottom: 50px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.14;
    margin-bottom: 55px;
  }
}

.about__content {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.about__img {
  @media screen and (max-width: 767px) {
    margin-bottom: 46px;
  }
}

.about__list {
  @media screen and (max-width: 767px) {
    margin-bottom: -47px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media screen and (min-width: 768px) {
    width: 340px;
    margin-top: 50px;
  }

  @media screen and (min-width: 1280px) {
    width: 463px;
    margin-top: 50px;
    margin-bottom: -35px;
  }
}

.about__item {
  margin-bottom: 47px;

  @media screen and (min-width: 1280px) {
    margin-bottom: 35px;
  }
}

@media screen and (min-width: 768px) {
  .about__item:nth-child(3) {
    margin-top: 60px;
    margin-bottom: 0;
  }
}

.about__text {
  font-family: $hero-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  color: #000000;

  &--color {
    color: inherit;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.79;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.75;
  }
}

.about__button {
  position: relative;
  padding: 10px 37px;
  background-color: $secondary-bg-color;
  border-radius: 22px;
  border: none;
  cursor: pointer;
  transition: 500ms $timing-function;

  font-family: $hero-font;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.29;
  color: $focus-color;

  &:hover,
  &:focus {
    background-color: $focus-color;
    color: $secondary-bg-color;
    transform: scaleX(1.2) scaleY(1.4);
  }
}

.about__icon {
  width: 10px;
  height: 10px;
  margin-left: 14px;
  vertical-align: middle;
  stroke: $focus-color;
}

.about__button:hover .about__icon,
.about__button:focus .about__icon {
  stroke: #ffffff;
}
