.contacts__section {
  background-image: linear-gradient(
    $secondary-bg-color,
    $secondary-bg-color 84px,
    $section-bg,
    $section-bg 84px
  );
  padding-bottom: 113px;

  @media screen and (min-width: 768px) {
    padding-bottom: 158px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 165px;
    background-image: url(../images/contacts/section-contacts.png),
      linear-gradient($secondary-bg-color, $secondary-bg-color 84px, $section-bg, $section-bg 84px);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
    background-position-x: center;
  }
}


.contacts__container {
  @media screen and (max-width: 767px) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    margin-right: -20px;
    margin-bottom: 80px;
  }
  @media screen and (min-width: 1280px) {
    flex-wrap: nowrap;
    margin-right: -30px;
    margin-bottom: 86px;
  }
}

.contacts__card {
  padding: 43px 20px;
  background-color: $secondary-bg-color;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  @media screen and (min-width: 768px) {
    padding: 50px 32px;
    margin-right: 20px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 30px;
    padding: 50px 44px 62px;
  }
}

.contacts__secondary-name,
.contacts__name {
  padding: 0 24px;
  display: inline;
  text-align: center;
  background: #f0d1a5;
  border-radius: 4px;
  font-family: $hero-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: $text-color;

  @media screen and (min-width: 768px) {
    display: inline-block;
    padding: 0 15px;
    font-size: 16px;
  }
}

.contacts__secondary-name {
  background: #c2e297;
}

.contacts__day,
.contacts__city {
  font-family: $hero-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: #000;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

.contacts__city {
  margin-top: 25px;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    margin-top: 30px;
    margin-bottom: 14px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 32px;
    margin-bottom: 10px;
  }
}

.contacts__link,
.contacts__text {
  font-family: $hero-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 25px;
  color: inherit;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.66;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.83;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
  }
}

.contacts__timetable {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;

  @media screen and (min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 32px;
  }
}

.contacts__timetable-item:not(:last-child) {
  margin-bottom: 10px;
}

.contacts__time {
  font-family: $hero-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: $title-color;
}

.contacts__buttons-list {
  text-align: center;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

.contacts__button {
  & .button-red,
  .button-white {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.31;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 10px;
    & .button-red {
      margin-right: 0;
    }
  }
}

.button-red {
  padding: 12px 17px;
  stroke: $secondary-bg-color;

  @media screen and (min-width: 768px) {
    padding: 12px 30px;
  }

  @media screen and (min-width: 768px) {
    padding: 12px 35px;
  }
}

.button-white {
  padding: 12px 32px;
  stroke: $focus-color;

  @media screen and (min-width: 768px) {
    padding: 12px 38px;
  }

  @media screen and (min-width: 768px) {
    padding: 12px 40px;
  }
}

.contacts__button-icon {
  margin-left: 10px;

  .button-white:hover &,
  .button-white:focus & {
    stroke: $secondary-bg-color;
  }

  .button-red:hover &,
  .button-red:focus & {
    stroke: $focus-color;
  }
}

// Backdrop
.backdrop-contact {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  opacity: 1;
  transition: opacity $duration $timing-function;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
  overflow-y: scroll;
}

.backdrop-contact.is-hidden {
  opacity: 0;
  pointer-events: none;
}

// .backdrop-contact.is-hidden .modal-contact {
//   transform: translate(-50%, -150%);
// }

.modal-contact {
  width: 80%;
  height: 80%;
  background-color: $section-bg;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 22px;
  overflow: hidden;
  text-align: center;
  padding-bottom: 15px;

  @media screen and (min-width: 768px) {
    width: 70%;
    height: 50%;
  }

  @media screen and (min-width: 1280px) {
    width: 50%;
    height: 50%;
  }
}

.modal-contact__button {
  padding: 10px 37px;
  background-color: $secondary-bg-color;
  border-radius: 22px;
  border: none;

  font-family: $hero-font;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.29;
  color: $focus-color;

  &:hover,
  &:focus {
    background-color: $focus-color;
    color: $secondary-bg-color;
  }
}
