.gallery-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
}

.gallery-img {
  display: block;
  width: 100%;
  border: 2px solid transparent;
  opacity: 0.8;
  transition-property: background-color, opacity, transform, color;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation: shake 1.7s linear alternate-reverse infinite;
  animation: shake 1.7s linear alternate-reverse infinite;
  &:focus,
  &:hover {
    opacity: 1;
    transform: scaleX(1.4) scaleY(1.4);
  }
}
@-webkit-keyframes shake {
  100% {
    transform: translateY(20px);
  }
}
@keyframes shake {
  100% {
    transform: translateX(20px);
  }
}
.gallery {
  background: linear-gradient(to top, white 60%, $section-bg -40%);
}
