.hero-header__section {
  background-color: $hero-bg;
  height: 502px;
  @media screen and (min-width: 768px) {
    height: 400px;
  }
  @media screen and (min-width: 1280px) {
    height: 665px;
  }
}

.hero-header__container {
  position: relative;
  height: 100%;
  overflow: hidden;

  &::after {
    position: absolute;
    width: 346px;
    height: 346px;
    content: '';
    top: 83px;
    left: calc(50% - 124px);

    border-radius: 50%;
    background-color: $title-color;
    z-index: 1;

    @media screen and (min-width: 768px) {
      top: 31px;
      left: calc(50% - 77px);
      width: 324px;
      height: 324px;
    }
    @media screen and (min-width: 1280px) {
      top: 52px;
      left: calc(50% - 160px);
      width: 538px;
      height: 536px;
    }
  }
}

.ice__img {
  position: absolute;

  width: 171px;
  height: 410px;
  top: 92px;
  left: calc(50% - 42px);
  background-image: url('../images/hero/ice-m@1x.png');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 10;
  opacity: 1;

  /* animation-name: icecreamAppear;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-fill-mode: forwards;
  animation-delay: 250ms; добавить анимацию*/

  @media screen and (min-width: 768px) {
    top: 63px;
    left: calc(50% - 6px);
    width: 143px;
    height: 336px;
    background-size: contain;
    background-image: url('../images/hero/ice-t@1x.png');
  }
  @media screen and (min-width: 1280px) {
    top: 108px;
    left: calc(50% - 40px);
    width: 236px;
    height: 557px;
    background-size: contain;
    background-image: url('../images/hero/ice@1x.png');
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/hero/ice-m@2x.png');
    @media screen and (min-width: 768px) {
      background-image: url('../images/hero/ice-t@2x.png');
    }
    @media screen and (min-width: 1280px) {
      background-image: url('../images/hero/ice@2x.png');
    }
  }
}

.girl__img {
  &:focus,
  &:hover {
  }
  opacity: 1;
  /*анимация*/

  @media screen and (min-width: 768px) {
    position: absolute;
    bottom: 0;
    right: 34px;
    width: 168px;
    height: 133px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../images/hero/girl-t@1x.png');
    z-index: 21;
  }
  @media screen and (min-width: 1280px) {
    position: absolute;
    bottom: 0;
    right: 110px;
    width: 293px;
    height: 232px;
    background-repeat: no-repeat;
    background-image: url('../images/hero/girl@1x.png');
    background-size: contain;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    @media screen and (min-width: 768px) {
      background-image: url('../images/hero/girl-t@2x.png');
    }
    @media screen and (min-width: 1280px) {
      background-image: url('../images/hero/girl@2x.png');
    }
  }
}

/*LOGO  задать анимацию scale*/

.mob__box {
  position: relative;
}
.logo__link {
  position: absolute;
  top: 6px;
  left: 0;
  @media screen and (min-width: 768px) {
    top: 37px;
  }
  @media screen and (min-width: 1280px) {
    left: -70px;
  }
}

/*buy now*/
.order-t__button {
  cursor: pointer;
  opacity: 1;
  animation-name: animateOrderBtn;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-fill-mode: forwards;
  animation-delay: 2250ms;

  &::before {
    animation-name: animateBtnGlitter;
    animation-duration: 1000ms;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-fill-mode: forwards;
    animation-delay: 3500ms;
  }
}

.menu__button {
  position: fixed;
  top: 20px;
  right: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: rgba(196, 9, 9, 0.03);
  z-index: 30;
  @media screen and (min-width: 768px) {
    position: absolute;
    top: 47px;
    right: 190px;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
  &.is-open {
    @media screen and (min-width: 768px) {
      position: fixed;
      top: 20px;
      right: 20px;
    }
  }
}
.menu__button .close__icon {
  display: none;
}

.menu__button.is-open + .order-t__button {
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    display: none;
  }
}

.menu__button .is-open .close__icon {
  display: block;
}

.menu__button .is-open .menu__icon {
  display: none;
}

.close__icon {
  fill: $focus-color;
}
.menu__icon {
  fill: $focus-color;
}

.btn__container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: $modal-bg;
  z-index: 25;
  display: none;

  @media screen and (min-width: 768px) {
    width: 254px;
  }
  @media screen and (max-width: 1280px) {
    animation-name: openMobileMenu;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-fill-mode: forwards;
    animation-delay: 0s;
  } /**/
  @media screen and (min-width: 1280px) {
    position: relative;
    display: block;
    width: 600px;
    margin: 0 auto;
    min-height: 70px;
    background-color: transparent;
  }
}

.btn__container.is-open {
  display: block;
  overflow: visible;
}

.order__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px auto 0 auto;
  width: 210px;
  height: 44px;
  border-radius: 22px;
  border: none;
  background-color: $secondary-bg-color;
  transition: background-color var(--duration) var(--timing-function);

  @media screen and (min-width: 768px) {
    width: 186px;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }

  &:hover,
  &:focus {
    background-color: $btn-hover-bg;
  }
}

.order-t__button {
  display: none;
  @media screen and (min-width: 768px) {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 38px;
    right: 0;
    width: 160px;
    height: 44px;
    border-radius: 22px;
    border: none;
    background-color: $secondary-bg-color;
    z-index: 13;
    transition: background-color $duration $timing-function;
    &:hover,
    &:focus {
      background-color: $btn-hover-bg;
    }
  }
}

.order__text {
  display: block;
  padding-right: 25px;
  color: $focus-color;
  font-family: $hero-font;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
}
.order__img {
  fill: $focus-color;
}

/*NAV*/
.nav__list {
  margin-top: 20px;
  @media screen and (min-width: 1280px) {
    display: flex;
    justify-content: end;
    margin-top: 0;
    padding-top: 38px;
  }
}
.nav__item {
  padding-left: 21px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  @media screen and (min-width: 1280px) {
    padding-left: 0;
    border: none;
    &:not(:last-child) {
      margin-right: 35px;
    }
  }
}
.nav__link {
  color: $text-color;
  font-family: $hero-font;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  transition: color var(--duration) var(--timing-function);

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.31;
  }
}

.nav__link:hover,
.nav__link:focus {
  color: $focus-color;
}

.nav__link--current {
  color: $focus-color;
}

/*HERO*/

.hero {
  position: absolute;
  top: 193px;
  z-index: 20;

  @media screen and (min-width: 768px) {
    top: 102px;
  }
  @media screen and (min-width: 1280px) {
    top: 171px;
    left: 115px;
  }
  &__title {
    margin: 0;
    font-family: $glory-font;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
  }
  &__title--part {
    display: block;
    color: $text-color;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    @media screen and (min-width: 768px) {
      font-size: 22px;
      line-height: 1.14;
    }
    @media screen and (min-width: 1280px) {
      font-size: 38px;
      line-height: 1.16;
    }
  }
  &__title--accent {
    display: block;
    color: $focus-color;
    font-size: 48px;
    line-height: 0.97;
    letter-spacing: 0.04em;

    @media screen and (min-width: 768px) {
      font-size: 34px;
      line-height: 0.91;
    }
    @media screen and (min-width: 1280px) {
      font-size: 52px;
      line-height: 0.91;
    }
  }
}

.product__button {
  display: inline-block;
  margin-top: 20px;
  padding-top: 8px;
  text-align: center;
  width: 62px;
  height: 24px;
  border-radius: 12px;
  color: $text-color;
  font-family: $hero-font;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 1.25;
  background-color: $focus-color;
  transition: background-color $duration $timing-function;

  @media screen and (min-width: 1280px) {
    margin-top: 25px;
    padding-top: 11px;
    width: 104px;
    height: 40px;
    border-radius: 20px;
    font-size: 14px;
    line-height: 1.29;
  }
}
.product__button:hover,
.product__button:focus {
  background-color: $product-hover-bg;
}

.made__button {
  display: inline-block;
  margin-left: 8px;
  margin-top: 20px;
  padding-top: 8px;
  text-align: center;
  width: 83px;
  height: 24px;
  border-radius: 12px;
  color: $focus-color;
  font-family: $hero-font;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 1.25;
  background-color: $secondary-bg-color;
  transition: background-color $duration $timing-function;

  @media screen and (min-width: 1280px) {
    margin-top: 25px;
    margin-left: 15px;
    padding-top: 11px;
    width: 138px;
    height: 40px;
    border-radius: 20px;
    font-size: 14px;
    line-height: 1.29;
  }
}
.made__button:hover,
.made__button:focus {
  background-color: $btn-hover-bg;
}

/*HERO  milk*/
.hero__bottom {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.hero__content {
  position: absolute;

  top: 292px;
  left: 158px;
  width: 114px;

  @media screen and (min-width: 1280px) {
    top: 485px;
    left: 295px;
    width: 200px;
  }
}

.hero__item {
  font-family: $hero-font;
  color: $text-color;
  font-size: 8px;
  line-height: 1.5;

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.4;
  }

  &::before {
    position: absolute;
    content: '';
    bottom: -6px;
    left: -124px;
    width: 124px;
    height: 126px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../images/hero/milk-t@1x.png');
    z-index: 10;
    @media screen and (min-width: 1280px) {
      top: -56px;
      left: -218px;
      width: 188px;
      height: 191px;
      background-image: url('../images/hero/milk@1x.png');
    }
    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/hero/milk-t@2x.png');

      @media screen and (min-width: 1280px) {
        background-image: url('../images/hero/milk@2x.png');
      }
    }
  }
}

.hero__link {
  position: relative; /*?*/
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: $secondary-bg-color;
  margin-top: 7px;
  fill: $focus-color;

  justify-content: center;
  align-items: center;
  @media screen and (min-width: 1280px) {
    width: 26px;
    height: 26px;
    margin-top: 20px;
  }
}

.hero__icon {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 5px;
  right: 5px;
  @media screen and (min-width: 1280px) {
    width: 10px;
    height: 10px;
    top: 8px;
    right: 8px;
  }
}

/*number*/

.number__list {
  position: absolute;

  top: 94px;
  right: 44px;

  @media screen and (min-width: 1280px) {
    top: 156px;
    right: 115px;
  }
}
.number__link {
  position: relative;
  text-align: right;
  z-index: 1; /*20*/
}
.number__link:not(:last-child) {
  padding-bottom: 13px;
  @media screen and (min-width: 1280px) {
    padding-bottom: 15px;
  }
}

.number__link::after {
  z-index: -1;
  position: absolute;

  content: '';
  display: inline-block;
  top: -2px;
  right: -10px;

  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $secondary-bg-color;

  @media screen and (min-width: 1280px) {
    top: -4px;
    right: -18px;
    width: 30px;
    height: 30px;
  }
}
.number__item {
  color: $focus-color;
  font-family: $glory-font;
  font-weight: normal;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @media screen and (min-width: 1280px) {
    font-size: 46px;
    line-height: 1.15;
  }
}
.number__text {
  color: $text-color;
  font-family: $hero-font;
  font-weight: normal;
  font-size: 8px;
  line-height: 1.25;
  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.29;
  }
}

/*MODAL*/
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow-y: scroll;
  opacity: 1;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: linear-gradient(to right, rgba(184, 114, 114, 0.4), rgba(184, 114, 114, 0.4)),
    url(../images/hero/girl@1x.png);

  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  @media screen and (min-width: 768px) {
    padding-top: 90px;
  }

  background-color: rgba(184, 114, 114, 0.884);

  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
  z-index: 100;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -150%);
}

.modal {
  position: relative;
  width: 100%;
  max-width: 450px;
  padding: 40px;
  border-radius: 25px;

  background-repeat: no-repeat;
  background-position: center right 30px;
  background-size: contain;
  background-color: #f7ebee;
  border: thick double $focus-color;

  background-image: url(../images/hero/milk@1x.png);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  left: 50%;
  transform: translate(-50%, 0);

  z-index: 51;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 1280px) {
    position: absolute;
    max-width: 600px;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
  }
}

.modal__close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  color: black;

  border: 1px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}
/*.modal__close-btn:hover,
.modal__close-btn:focus {
  fill: black;
}
*/

.modal__close-icon {
  fill: $focus-color;
}

/*form*/
.form__title {
  margin: 0 0 12px;

  color: $product-hover-bg;

  font-family: $glory-font;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.form__moto {
  color: #000000;
  font-family: $hero-font;
  text-align: center;
  padding-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.form__label {
  display: block;
  font-family: $hero-font;
  width: 100%;
  margin-bottom: 10px;

  &:nth-last-of-type(2) {
    margin-bottom: 20px;
  }

  &--checkbox {
    margin-bottom: 30px;
  }
}

.form__caption {
  display: inline-block;
  margin-bottom: 4px;
  color: $focus-color;
  font-weight: 700;
  font-style: $hero-font;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__input {
  position: relative;
  font-family: $hero-font;
}

.form__icon {
  position: absolute;
  left: 12px;
  bottom: 6px;

  fill: rgba(0, 0, 0, 0.6);

  transform: translateY(-50%);
  /*@include transitionMain(fill);*/

  .form__label:focus-within & {
    fill: $focus-color;
  }
}

.form__field {
  display: block;
  width: 100%;
  height: 40px;
  padding: 11px 24px 11px 42px;

  background-color: rgba(253, 252, 252, 0.7);

  // border: 1px solid $borderInputColor;
  border: 2px solid rgba(0, 0, 0, 0.5); // !!!!!!!!!!!!!!!
  border-radius: 4px;
  // color: $titleTextColor;
  color: black; // !!!!!!!!!!!!!!!
  outline: transparent;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  /*@include transitionMain(border-color);*/

  &--comment {
    height: auto;
    padding: 12px 16px;
    resize: none;
  }

  &--comment::placeholder {
    // color: $modalPlaceholderTextColor;
    color: rgba(0, 0, 0, 0.7); // !!!!!!!!!!!!!!!

    font-size: 14px;
    line-height: 1.17;
  }

  .form__label:focus-within & {
    border-color: $focus-color;
  }
}

.form__licence-declaration {
  position: relative;
  margin-bottom: 30px;
  padding-left: 24px;
  color: black;
  font-family: $hero-font;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }

  &::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    content: '';
    width: 16px;
    height: 15px;

    border-radius: 2px;

    border: 2px solid black; // !!!!!!!!!!!!!!!

    /* @include transitionMain(border-color);*/
  }

  .form__checkbox:checked + &::before {
    border-color: $focus-color;
    background-color: $focus-color;
    background-position: center;
    background-size: contain;
    background-origin: border-box;
    background-image: url(../images/hero/check.svg);
  }

  .form__checkbox:focus + &::before {
    border-color: $focus-color;
  }

  &:hover::before {
    border-color: $focus-color;
  }
}

.form__licence-link {
  color: $focus-color;
  text-decoration: underline;
}

.modal__submit-btn {
  align-self: center;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 44px;
  border-radius: 22px;
  border: none;
  cursor: pointer;

  background: $focus-color;
  color: #ffffff;

  font-family: $hero-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
}
