body {
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.94;
  letter-spacing: 0.04em;
  color: #907e82;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (min-width: 480px) {
    max-width: 480px;
    margin: 0 auto;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-left: 35px;
    padding-right: 35px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding-left: 115px;
    padding-right: 115px;
  }
}

.scroll {
  display: inline-block;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
  background-color: #ffb8ca;
  border-radius: 50%;
  padding: 10px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
html {
  scroll-behavior: smooth;
}