:root {
  --hero-font: 'DM Sans', sans-serif;
  --glory-font: 'Titan One', sans-serif;
  --focus-color: #d41342;
  --title-color: #ffa5ba;
  --hero-bg: #ffb8ca;
  --section-bg: #fff5f6;
  --modal-bg: #e17992;
}

/*
--text-color: #ffffff;
--border-color: #E18298;
--btn-hover-bg-color: #ECEBEB;
--product-btn-hover-bg-color: #c7133e;


  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);*/
