<div class="slider__container">
  <div class="slider">
    <div class="slider__item">
      <img src="./images/customer-reviews/testimonials1.png" alt="фото" class="slider__photo" />
      <div class="slider__section-comment">
        <div class="slider__comment">
          <p class="slider__comment-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi quos culpa voluptatibus
            tenetur dicta nesciunt vel itaque placeat! Libero accusamus eveniet voluptatum hic quasi
            eius mollitia dicta velit, ipsam minus?
          </p>
        </div>
      </div>

      <p class="slider__name">Emily, Los Angeles</p>
    </div>
    <div class="slider__item">
      <img src="./images/customer-reviews/testimonials2.png" alt="фото" class="slider__photo" />
      <div class="slider__section-comment">
        <div class="slider__comment">
          <p class="slider__comment-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quisquam omnis quas sed
            et sapiente eaque pariatur nulla illum sint?
          </p>
        </div>
      </div>

      <p class="slider__name">Nicole, Boston</p>
    </div>
    <div class="slider__item">
      <img src="./images/customer-reviews/testimonials3.png" alt="фото" class="slider__photo" />
      <div class="slider__section-comment">
        <div class="slider__comment">
          <p class="slider__comment-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit recusandae, nisi ab
            explicabo atque iusto in saepe eum ipsam minima. Nostrum expedita nobis iusto labore, id
            ratione laboriosam perspiciatis explicabo reiciendis in aspernatur sequi dicta provident
            quam porro exercitationem velit.
          </p>
        </div>
      </div>
      <p class="slider__name">Jessica, New York</p>
    </div>
    <div class="slider__item">
      <img src="./images/customer-reviews/testimonials4.png" alt="фото" class="slider__photo" />
      <div class="slider__section-comment">
        <div class="slider__comment">
          <p class="slider__comment-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla magnam corporis expedita
            eum quos rerum vero nisi autem tempora itaque quod dignissimos provident, nostrum non
            quis numquam quo neque veritatis.
          </p>
        </div>
      </div>
      <p class="slider__name">Samanta, Washington</p>
    </div>
    <div class="slider__item">
      <img src="./images/customer-reviews/testimonials5.png" alt="фото" class="slider__photo" />
      <div class="slider__section-comment">
        <div class="slider__comment">
          <p class="slider__comment-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam ipsam exercitationem,
            libero rem labore deserunt.
          </p>
        </div>
      </div>
      <p class="slider__name">Jennifer, Las Vegas</p>
    </div>
  </div>
</div>