<footer class="footer__section">
    <div class="container">
        <div class="footer__flex-cont">
            <div>
                <p class="footer__heder-first">homemade ice cream made</p>
                <p class="footer__heder-second">with passion</p>
            </div>
            <div class="footer__social-box">
                <ul class="footer__social-cont">
                    <li class="footer__item"><a class="footer__link" href="https://github.com" target="_blank"> <svg
                                class="footer__social-svg">
                                <use href="/images/icons/footer-sprite.svg#icon-github"></use>
                            </svg>
                        </a></li>
                    <li class="footer__item"><a class="footer__link" href="https://telegram.org" target="_blank"> <svg
                                class="footer__social-svg">
                                <use href="/images/icons/footer-sprite.svg#icon-telegram"></use>
                            </svg>
                        </a></li>
                    <li class="footer__item"><a class="footer__link" href="https://facebook.com" target="_blank"> <svg
                                class="footer__social-svg">
                                <use href="/images/icons/footer-sprite.svg#icon-facebook"></use>
                            </svg>
                        </a></li>
                </ul>
                <p class="footer__contact">Feel free to contact <a class="footer__contact-tel" href="">+61 (0) 383 766
                        284</a></p>
            </div>
        </div>

    </div>
    <div class="footer__copyrite-cont">
        <p class="footer__copyrite-text">© 2019 - IceCream. All Rights Reserved.</p>

    </div>
</footer>