<section class="hero-header__section">
  <div class="hero-header__container container" id="header">
    <div class="girl__img"></div>
    <div class="ice__img"></div>

    <nav class="hero-header__navigation">
      <div class="mob__box button music1">
        <a href="#header" class="logo__link link">
          <img srcset="./images/hero/logo@1x.png 1x, ./images/hero/logo@2x.png 2x" src="./images/hero/logo@1x.png"
            alt="logo" class="logo__img" width="200" />
        </a>
        <button type="button" class="menu__button" data-menu-button aria-expanded="false">
          <svg width="20" height="20" aria-label="Переключатель мобильного меню">
            <use class="close__icon" href="./images/hero/Burger.svg"></use>
            <use class="menu__icon" href="./images/hero/close.svg"></use>
          </svg>
        </button>
        <button type="button" class="order-t__button" data-modal-open>
          <span class="order__text">Buy now</span>
          <svg width="8" height="10">
            <use class="order__img" href="./images/icons/icons.svg#icon-header-vector"></use>
          </svg>
        </button>
      </div>
      <div class="btn__container is-open" data-menu>
        <button type="button" class="order__button">
          <span class="order__text">Buy now</span>
          <svg width="8" height="10">
            <use class="order__img" href="./images/icons/icons.svg#icon-header-vector"></use>
          </svg>
        </button>

        <ul class="nav__list">
          <li class="nav__item">
            <a href="#header" class="nav__link nav__link__link--current">Home</a>
          </li>
          <li class="nav__item">
            <a href="#about-us" class="nav__link link">About us</a>
          </li>
          <li class="nav__item">
            <a href="#made" class="nav__link link">How it’s made?</a>
          </li>
          <li class="nav__item">
            <a href="#products" class="nav__link link"> Our products </a>
          </li>
          <li class="nav__item">
            <a href="#contacts" class="nav__link link">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
    <div>
      <div class="hero">
        <h1 class="hero__title">
          <span class="hero__title--part">ice cream</span>
          <span class="hero__title--part">made with</span>
          <span class="hero__title--accent">passion</span>
        </h1>
        <a href="#products" class="product__button link">Products</a>
        <a href="#made" class="made__button link">How it’s made?</a>
      </div>
      <div class="hero__bottom">
        <div class="hero__content">
          <p class="hero__item">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <a href="" class="hero__link link">
            <svg class="hero__icon" width="8" height="8">
              <use href="./images/icons/icons.svg#icon-right-arrow"></use>
            </svg>
          </a>
        </div>

        <ul class="number__list">
          <li class="number__link">
            <p class="number__item">16</p>
            <p class="number__text">cafes</p>
          </li>
          <li class="number__link">
            <p class="number__item">23</p>
            <p class="number__text">food trucks</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<div class="scroll scrollup">
  <svg>
    <use href=""></use>
  </svg>
</div>

<!-- Modal -->
<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <form class="form">
      <p class="form__title">LEAVE AN APPLICATION</p>
      <p class="form__moto">and we will contact you shortly</p>
      <div class="form__input">
        <label class="form__label">
          <span class="form__caption">Name</span>

          <svg class="form__icon" width="23" height="23">
            <use href="./images/icons/icons.svg#icon-person"></use>
          </svg>
          <input type="text" name="name" class="form__field" />
        </label>
      </div>
      <div class="form__input">
        <label class="form__label">
          <span class="form__caption">Phone</span>

          <svg class="form__icon" width="23" height="23">
            <use href="./images/icons/icons.svg#icon-phone"></use>
          </svg>
          <input type="tel" name="tel" class="form__field" />
        </label>
      </div>
      <div class="form__input">
        <label class="form__label">
          <span class="form__caption">E-mail</span>

          <svg class="form__icon" width="23" height="23">
            <use href="./images/icons/icons.svg#icon-email"></use>
          </svg>
          <input type="email" name="email" class="form__field" />
        </label>
      </div>
      <label class="form__label">
        <span class="form__caption">Comments</span>
        <textarea name="comment" class="form__field form__field--comment" rows="6"
          placeholder="Leave your comments here"></textarea>
      </label>

      <input type="checkbox" name="licence" class="form__checkbox visually-hidden" id="licence-checkbox" />
      <label class="form__licence-declaration" for="licence-checkbox">
        I agree to the processing of personal data in accordance with
        <a href="##" class="form__licence-link link"> Privacy Policy</a>
      </label>

      <button class="main-button modal__submit-btn button-glitter" type="submit">Submit</button>

      <button class="modal__close-btn" type="button" data-modal-close>
        <svg class="modal__close-icon" width="18" height="18">
          <use href="./images/icons/icons.svg#icon-close-modal"></use>
        </svg>
      </button>
    </form>
  </div>
</div>
<div id="preloader_malc">

  <div>

    <img src="./images/gallery/demen.jpg" alt="" class="geo">

  </div>

</div>

<style type="text/css">
  #preloader_malc {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .9);
    z-index: 99
  }

  #preloader_malc div {

    background: #fff;
    line-height: 40px;
    border-radius: 8px;
    font-family: arial;
    font-size: 15px;
    color: #111;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto
  }
</style>

<script type="text/javascript">

  window.onload = function () {

    setTimeout(function () {

      document.getElementById("preloader_malc").style.display = "none";

    }, 4000);

  };

</script>

<div class="button music1"><a href="#"></a></div>

<audio id="sound-link" preload="auto">
  <source src="./images/cow.mp3" type="audio/mpeg">

</audio>


<script>
  var soundLink = $("#sound-link")[0];
  $(".music1 a").mouseenter(function () {
    soundLink.play();
  });
</script>